@use "./screens/mobile";
.container {

    position: relative;

    .svgcircle {
        position: absolute;
        float: right;
        right: 0;
        top: 20px;
    }
    .imagebox{
        position: relative;
        .image{
            position: absolute;
            left: 0;
        }
    }
    .clientbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text {
        text-align: right;
    }
    .card {
        border-radius: 0;
        background: none;

        &:hover {
            background: var(--light);
            border-radius: 0;
            transition: all 0.3s ease;
        }
    }
    .extratext{
        font-size: 40px;
    }
}